<!DOCTYPE html>
{%  load staticfiles  %}
<html lang="en" id="mashmaker-home">
<head>
  <title>MashMaker</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static "js/home.js" %}"></script>
</head>
<body>
	<div id="pageHead" role="banner">
		<h1 id="title" class="center">MashMaker</h1>
	</div>
  <div id="globalContainer">
			<div id="content">
				<div id="contentArea" role="main">
          <div class="contentSection">
            <div class="upload">
              <h2 class="uploadTitle">Upload a file...</h2>
              <div id="preview"><audio id="player" controls="controls"></div>
              <form>
                <input id="longInput" type="text">
                <input id="fileInput" type="file" name="filename" accept=".mp3">
              </form>
              <h2 class="uploadTitle">Or select one below...</h2>
              {% for filename in file_list %}
                <div>
                  <a href="{% static filename %}">{{ filename }}</a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>